<div class="container">
  <h1>{{title}}</h1>
  <div class="inputArea">
    <h3>Enter the length of the password</h3>
    <input type="range" #slider min="6" max="40"  [(ngModel)]='length'>
    <input type="number" placeholder="Enter the length" min="6" max="40" maxlength="2" pattern="[0-9]" [(ngModel)]='length'> <br>
    <input type="checkbox" [checked]='useLetters' (change) = "changeUseLetters()"> <label>Use letters</label> <br>
    <input type="checkbox" [checked]='useNumbers' (change) = "changeUseNumbers()"> <label>Use numbers</label> <br>
    <input type="checkbox" [checked]='useSymbols' (change) = "changeUseSymbols()"> <label>Use special characters</label>
  </div>

  <button id="generateBtn" (click)='generatePassword()' [disabled]="!(useLetters||useNumbers||useSymbols)">
    Generate Password
  </button>

  <div class="resultArea" *ngIf="password.length!=0">
    <h3>Random Password Generated</h3>
    <div id="password">
    {{password}}
    </div>
  </div>
</div>

<!--
Improvements to do:
1. Input Validation to bind length to a range with forms
2. Form validation for enabling/disabling generate password button
-->


